/* General */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e1c4ae;
    display: flex;
    justify-content: center;
    width: 100%;
    overscroll-behavior: none;
}

/* Estilos del menú */
nav.skipper-menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

nav.skipper-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav.skipper-menu ul li {
    border: 3px solid rgb(114, 110, 110);
    width: 30%;
    border-radius: 10px;
}

nav.skipper-menu ul li a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-align: center;

}

nav.skipper-menu ul li:hover {
    background-color: #555;
    transform: scale(1.2);
}

/* Contenedor principal */
.contenedorTotal {
    width: 100%;
    margin-top: 60px;
    
}

.DosContenedores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
}

.contenedor_izquierda {
    
    width: 60%;
    padding: 0px;
    background-image: url("./imagenes/publicidad.png") ;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    height: 450px;
    background-position: center;
    position: relative;
}

/* Carrusel */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 90%;    
    margin: 0 auto;
    box-shadow: 0 0 1px 2px #00000083;
    border-radius: 20px;
}

.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-images img {
    width: 100%;
    margin: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#btn-left {
    left: 10px;
}

#btn-right {
    right: 10px;
}

.carousel-button img {
    width: 40px;
    height: 40px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

/* Recuadros adicionales */
.contacto{
    width: 90%;
    height: 400px;
    background-color: #e8b68f;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos entre el espacio disponibles */
}
.contenedor-formulario{
    background-color: #deab84;
    box-shadow: 0px 5px 10px black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    border-radius: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario input,
textarea {  
    margin: 10px 0;  
    padding: 10px;  
    box-sizing: border-box;
}

input {
    width: 100%; 
    background-color: #deab84;
    border: none;
    
}
input::placeholder{
    font-size: 40px;
    
}
#enviar{
    font-size: 20px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #a97f5e;
    color: white;
}

label{
    margin-top: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, "Helvetica Neue", Helvetica, sans-serif;
}
.cuadro-area {
    width: 50%; 
    padding: 20px;
    height: 100%;
   
   
}

.lado-izquierdo {
    width: 45%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    background-color: antiquewhite;
    height: 290px;
    border-radius: 15px; 
}

.recuadro-adicional-oferta {
    display: flex;
    width: 90%;
    background-color: #e1c4ae;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    

}
.recuadro-adicional-oferta img{
    
    width: 100%;
    height: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7) ;
    object-fit: cover;

}
#oferta{
    margin-top: 200px;
}

.text-oferta{ 
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
    font-size:40px;
    color: black;
    background: rgb(223, 200, 217);
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    width: 60%;
    height: 30%;
    text-align: center;
}
.recuadro-adicional-historia {
    width: 90%;
    padding: 20px; 
    padding-top: 50px;
    background-color: #cbfab2; 
    border-radius: 10px; 
    margin:  auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6;
   
}


#pedidos{
    
    padding-bottom: 10px;
    font-size: 50px;
    color: #3a3a3a; 
    text-align: center; 
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#pedidos img{
    width: 500px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0px 3px 5px black;
}
p {
    font-size: 18px; 
    color: #333; 
    margin-bottom: 15px; 
    text-align: justify; 
    width: 90%;
}

.escribir {
    margin-top: 100px;
    font-size: 30px;
    border-right: 3px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: escribiendo 4.5s steps(40, end) infinite;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
}

@keyframes escribiendo {
    from { width: 0; }
    to { width: 90%; }
}
.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.tortasMuestra {
    display: flex;
    margin: 30px;
    
}


.tortasMuestra img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 20px;
}

.tortasMuestra img:hover {
    transform: scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); 
}

#imagen {
    width: 700px;
    height: 450px;
    object-fit: cover;
}
h2{
    padding-bottom: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#pieDePagina{
    display: flex;
    background-color: #ddd6d6;
    justify-content: space-between;
    margin: 10px;
}

#celu{
    font-size: 20px;
}